@font-face {
    font-family: "Atma";
    src: url("../fonts/Atma/Atma-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
}

*{
    font-family: "Roboto";
}

h1, h2, h5, button{
    font-family: "Atma";
}

.button-action{
    color: #ffffff;
    background-color: #874eca;
    border: none;
    transition: all 0.3s ease-in-out;
}

.button-action:hover{
    background-color: #402462;
    color: #ffffff;
}
.button-action:active{
    background-color: #402462!important;
    border: none;
    color: #ffffff;
}

.btn-custom {
    background-color: #874eca;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .btn-custom:hover {
    background-color: #402462;
  }
  
  .p-checkbox-checked{
      --p-checkbox-checked-background: #874eca;
      --p-checkbox-checked-hover-background: #402462;
      --p-checkbox-checked-border-color: #874eca;
      --p-checkbox-checked-hover-border-color: 402462;
      --p-checkbox-checked-focus-border-color: #874eca;
  }
