@font-face {
    font-family: "Atma";
    src: url("../fonts/Atma/Atma-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
}

*{
    font-family: "Roboto";
}

h1, h2, h5, button{
    font-family: "Atma";
}

.button-action{
    color: #ffffffff;
    background-color: #874eca;
    border: none;
}

.button-action:hover{
    background-color: #402462;
}
