@font-face {
    font-family: "Atma";
    src: url("../fonts/Atma/Atma-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
}

*{
    font-family: "Roboto";
}

h1, h2, h5, button{
    font-family: "Atma";
}

.button-action{
    color: #ffffff;
    background-color: #874eca;
    border: none;
    transition: all 0.3s ease-in-out;
}

.button-action:hover{
    background-color: #402462;
    color: #ffffff;
}
.button-action:active{
    background-color: #402462!important;
    border: none;
    color: #ffffff;
}
